body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index {
  position: relative;
}

li {
  padding: 10px 20px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.logo{
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 80px;
}



.arreglarbotones{
  --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display:flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  flex-direction: row;
  float: right;
}


.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.gestor {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.gestor-image {
  max-width: 100%;
  height: auto;
}

.center-buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.center-name{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-buttons a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #ebebeb;
  border: none;
  outline: none;
  cursor: pointer;
}

.description {
  text-align: center;
  margin-top: 20px;
  
}

.description span {
  font-size: 18px;
  line-height: 1.5;
}

